name: Publish Test Results

on:
  workflow_run:
    workflows:
    - Test and Publish
    types: [completed]
permissions: {}

jobs:
  publish-test-results:
    if: github.event.workflow_run.conclusion != 'skipped' && github.event.workflow_run.conclusion != 'cancelled'
    runs-on: ubuntu-24.04
    name: Publish Test Results

    permissions:
      checks: write
      pull-requests: write
      contents: write
      issues: read
      actions: read
      statuses: read

    steps:
      - uses: actions/checkout@v6

      - name: Download Event File
        uses: actions/download-artifact@v6
        with:
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}
          name: test-event-file
          merge-multiple: false

      - name: Download Test Results
        uses: actions/download-artifact@v6
        with:
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ github.token }}
          pattern: $test-results-*
          path: test-results
          merge-multiple: false

      - name: Publish Test Results
        uses: nike4613/actions-test-results@v3
        with:
          check_name: Test Results
          files: test-results/**/*.trx
          fail_on: 'test failures'
          comment_mode: 'always'
          use_emojis: true

          commit: ${{ github.event.workflow_run.head_sha }}
          event_file: event.json
          event_name: ${{ github.event.workflow_run.event }}

          comment_on_commit: true
